* {
	margin: 0;
	padding: 0
}
.mes{
	padding: 10px;
	margin: 10px;
	width: 90%;
	border: 1px solid red;
}

.header{
	padding: 5px;
	background-color: green;
	font-weight: 600;
	color: white;
}

.text{
	padding: 5px;
	margin: 5px;

	font-style: italic;
}
.footer{
	font-weight: 400;
}